In [42]:
import pandas as pd
list_1 = ['a1 bb', 'a2 bc', 'a3 bb', 'a4 bc', 'a1 a2 bd']
list_2 = [1, 2, 3, 4, 5]
df = pd.DataFrame({'key':list_2, 'text':list_1})
sub_1 = ['a1', 'a2']
sub_2 = ['bb', 'bd']
## Search for coexistence of words from two lists given a dataframe and a column name
def coexist_keywords(df, col, search_words1, search_words2):
    df['include_set1'] = df[col].str.lower().str.findall('|'.join(search_words1)).apply(set).str.join(', ')
    df['include_set2'] = df[col].str.lower().str.findall('|'.join(search_words2)).apply(set).str.join(', ')
    df['include_both'] = (df['include_set1']!= '') & (df['include_set2'] != '')
    return df
coexist_keywords(df, 'text', sub_1, sub_2)

   key      text include_set1 include_set2  include_both
0    1     a1 bb           a1           bb          True
1    2     a2 bc           a2                      False
2    3     a3 bb                        bb         False
3    4     a4 bc                                   False
4    5  a1 a2 bd       a1, a2           bd          True